.main-logo {
    background: url("../img/fd.png") center center / contain no-repeat;
    padding: 50px;
    position: relative;
    margin-top: 250px;
} 
.mobile-nav {
    display: none;
}
.welcome {
    color: white;
    text-align: center;
    padding: 70px 0 40px 0;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 600;
    text-shadow: 0px 0px 30px rgba(255, 255, 255, 0.3);
    position: relative;
    margin-top: 210px;
}
.welcome_2 {
    color: white;
    text-transform: lowercase;
    font-size: 12px;
    font-weight: 400;
    text-shadow: 0px 0px 30px rgba(255, 255, 255, 0.3);
    position: absolute;
    letter-spacing: 6px;
    left: 100px;
    top: 123px;
}
.main-text {
    padding-bottom: 300px;
}
.button-white {
    display: block;
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 30px;
    font-weight: 600;
    text-shadow: 0px 0px 30px rgba(255, 255, 255, 0.3);
    position: relative;
    cursor: pointer; 
    border: 1px #ffffff solid;
    padding: 15px;
    margin-bottom: 15px;
    transition: .3s;
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.2);
    user-select: none;
    &:hover {
        position: relative;
        color: #1b2735;
        text-shadow: none;
    }
    &:before {
        content: "";
        position: absolute;
        background: #ffffff;
        bottom: 0;
        left: 0;
        right: 0;
        top: 100%;
        z-index: -1;
        -webkit-transition: top 0.09s ease-in;
        transition: ease-in-out .2s;

    }
    &:hover:before {
       top: 0px;
       transition: ease-in-out .2s;

    }
}
.button-white-sm {
    display: block;
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 12px;
    font-weight: 600;
    text-shadow: 0px 0px 30px rgba(255, 255, 255, 0.3);
    position: relative;
    cursor: pointer; 
    border: 1px #ffffff solid;
    padding: 15px 30px;
    transition: .3s;
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.2);
    user-select: none;
    &:hover {
        position: relative;
        color: #1b2735;
        text-shadow: none;
    }
    &:before {
        content: "";
        position: absolute;
        background: #ffffff;
        bottom: 0;
        left: 0;
        right: 0;
        top: 100%;
        z-index: -1;
        -webkit-transition: top 0.09s ease-in;
        transition: ease-in-out .2s;

    }
    &:hover:before {
       top: 0px;
       transition: ease-in-out .2s;
    }
}
