@media (max-width: 992px) {
    .nav-menu {
        display: none;
    }
    .mobile-nav {
        // display: block;
        background: radial-gradient(ellipse at bottom, #1b2735f5 0%, #090a0ff5 100%);
        width: 100%;
        position: fixed;
        height: 100vh;
        z-index: 100000;
    }
    .mobile-nav-field {
        // height: 100vh;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        a {
            flex-basis: 100vw;
            padding: 30px;
            margin-top: 5%;
            flex-grow: 1;
            color: white;
            transition: .2s;
            text-decoration: none;
            position: relative;
            &:hover {
                background: rgba(255, 255, 255, 0.055)
            }
            &:before {
                content: "";
                position: absolute;
                transition: .2s ease-in-out;;
                top: 75%;
                background: rgb(255, 255, 255);
                border-radius: 0;
                width: 50px;
                padding: 0 10px;
                height: 3px;
                margin: 0 auto;
                left: 0;
                right: 0;
                z-index: 999999;
                box-shadow: 0 0 20px 3px rgba(255, 255, 255, 0.3);
            }
        }
    }
    .show {
        display: block;
        transition: .2s;
        .burger-stick:nth-child(2) {
            display: none;
        }
    }
    .deg_plus {
        transform: rotate(45deg);
        
    }
    .deg_minus {
        transform: rotate(-45deg);

    }
    .burger {
        position: fixed;
        right: 35px;
        top: -10px;
        padding: 40px;
        z-index: 1000000;
        box-sizing: border-box;
        cursor: pointer;
        .burger-stick {
            position: absolute;
            width: 35px;
            margin: 20px;
            height: 3px;
            border-radius: 15px;
            margin-bottom: 6px;
            background: white;
        }   
        .burger-stick:nth-child(1){
            top: 32px;
        }
        .burger-stick:nth-child(2){
            top: 24px;
        }
    }
    h3 {
        font-size: 25px;
    }

}

.toggleClassTop {
    top: 32px !important;
}
@media (max-width: 1200px) {
    .welcome_2 {
        left: 10px;
    }
}

@media (max-width: 768px) {
    .main-text {
        display: none;
    }
    .stars, .stars2, .stars3 {
        display: none;
    }
}

@media (max-width: 992px) {
    .main-logo {
        margin-bottom: 100px;
    }
}