* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
.container  {
  // overflow-x: hidden;
  box-sizing: border-box;
  padding-bottom: 20px;
}
.background {
  min-height: 100vh;
  background: url('../img/background.jpg') center center no-repeat;
  background-size: cover;
}
.background-color {
  background: #0a0f16e0;
  background: -moz-radial-gradient(ellipse at bottom, #1b2735d3 0%, #090a0fd7 100%);
  background: -webkit-radial-gradient(ellipse at bottom, #1b2735d3 0%, #090a0fd7 100%);
  background: -o-radial-gradient(ellipse at bottom, #1b2735d3 0%, #090a0fd7 100%);
  background: -ms-radial-gradient(ellipse at bottom, #1b2735d3 0%, #090a0fd7 100%);
  background: radial-gradient(ellipse at bottom, #1b2735d3 0%, #090a0fd7 100%);

  min-height: 100vh;
}
#stars {
  position: absolute;
}
.header-line {
  height: 100px;
  width: 100%;
  background: rgb(9, 9, 19);
  position: relative;
  z-index: 999999999999;
}

.jcc {
  display: flex;
  justify-content: center;
}

.nav-menu {
  margin: 0 auto;
  // position: fixed;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  // background: yellow;
  width: 100%;
  .nav-menu-item {
    line-height: 70px;
    user-select: none;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
    font-size: 13px;
    position: relative;
    cursor: pointer;
    transition: .2s;
    color: rgba(110, 129, 190, 0.404);
    text-decoration: none;
    &:hover {
      color: white;
    }
    &:nth-child(2):before, &:nth-child(3):before, &:nth-child(4):before {
      content: "";
      position: absolute;
      transition: .2s ease-in-out;;
      top: 75%;
      background: rgb(255, 255, 255);
      border-radius: 0;
      width: 100%;
      padding: 0 10px;
      height: 5px;
      margin: 0 auto;
      left: 0;
      right: 0;
      opacity: 0;
      z-index: 999999;
      box-shadow: 0 0 20px 3px rgba(255, 255, 255, 0.3);

    }
    &:nth-child(1):before {
      content: "";
      position: absolute;
      transition: .2s ease-in-out;;
      top: 75%;
      background: rgb(255, 255, 255);
      border-radius: 50px 0 0 50px;
      width: 100%;
      height: 5px;
      margin: 0 auto;
      left: 0;
      right: 0;
      opacity: 0;
      z-index: 999999;
      box-shadow: 0 0 20px 3px rgba(255, 255, 255, 0.3);

    }
    &:nth-child(5):before {
      content: "";
      position: absolute;
      transition: .2s ease-in-out;;
      top: 75%;
      background: rgb(255, 255, 255);
      border-radius: 0 50px 50px 0;
      width: 100%;
      height: 5px;
      margin: 0 auto;
      left: 0;
      right: 0;
      opacity: 0;
      z-index: 999999;
      box-shadow: 0 0 20px 3px rgba(255, 255, 255, 0.3);

    }
    &:hover:before {
      content: "";
      position: absolute;
      opacity: 1;
      
    }
  }
}
.active {
  color: white !important;
  position: relative;
  &:before {
    content: "";
    opacity: 1 !important;
  }
}
.nav-menu-line {
  margin: 20 auto;
  position: absolute;
  color: white;
  display: flex;
  justify-content: center;
  top: 83px;
  background: rgb(32, 33, 51);
  border-radius: 50px;
  width: 750px;
  height: 5px;
}


.loading-page {
  position: absolute;
  z-index: 99999999999999999999999;
  background-color: rgb(15, 18, 24);
  width: 100%;
  height: 100%;
}

.loading-logo {
  background: url('../img/fd.png') center center / contain no-repeat;
  background-size: 80px;
  animation: logo 1s infinite ease-in-out;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
@keyframes logo {

  50% {
    transform: scaleX(-1);
  }

  
  // 40% {
  //   transform: scaleY(-1)
  // }
  // 60% {
  //   transform: scaleX(-1);
  // }
}
.services, .portfolio, .guide, .faq {
  position: relative;
  // display: none;
}
h2 {
  color: white;
  text-align: center;
  padding: 70px 0 40px 0;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 30px;
  font-weight: 600;
  text-shadow: 0px 0px 30px rgba(255, 255, 255, 0.3);
  position: relative;
}
h3 {
  color: white;
  text-align: center;
  padding: 70px 0 40px 0;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 30px;
  font-weight: 600;
  text-shadow: 0px 0px 30px rgba(255, 255, 255, 0.3);
  position: relative;
}

.burger-field {
  position: fixed;
  padding: 60px;
  right: 0;
  z-index: 10002123123123;
}

.link {
  text-decoration: none;
  color: inherit !important;
  text-decoration: none !important;
}
.socials {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.social {
  padding: 40px 100px;
  transition: .2s;
  margin-bottom: 30px;
  cursor: pointer;
  position: relative;

}

.vk {
  background: url("../img/vk.svg") center center no-repeat;
  background-size: 80px;
  &:hover {
    background: url("../img/vk-hover.svg") center center no-repeat;
    background-size: 80px;
  }
}
.behance {
  background: url("../img/behance.svg") center center no-repeat;
  background-size: 80px;
  &:hover {
    background: url("../img/behance-hover.svg") center center no-repeat;
    background-size: 80px;
  }
  
}
.github {
  background: url("../img/github.svg") center center no-repeat;
  background-size: 80px;
  &:hover {
    background: url("../img/github-hover.svg") center center no-repeat;
    background-size: 80px;
  }
}
.social:hover {
  transform: scale(1.1);
}

.projects {
  display: flex;
  justify-content: center;
  margin: 50px;
  margin-bottom: 0;
  flex-wrap: wrap;
}

.project {
  margin: 10px;
}

.steps {
  text-align: center;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.steps-link {
  width: 300px;
  margin: 10px auto;
}

.faq-field {
  color: #fff;
  font-size: 20px;
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 1px;
  text-shadow: 0px 0px 30px rgba(255, 255, 255, 0.3);

}
.question {
  font-weight: 500;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 80px;
    height: 1px;
    background: rgba(255, 255, 255, 0.6);
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -20px;
  }
}
.answer {
  font-weight: 300;
  font-size: 25px;
  margin-bottom: 202px;
}
.faq-section {
  margin: 40px 0;
}
.faq-section:last-child {
  margin-bottom: 0px;
  padding-bottom: 20px;
}


.mt {
  margin-top: 150px;
}

th {
  padding: 20px;
}

td {
  padding: 12px;
}