* {
  font-family: 'Roboto', sans-serif;
}

body {
  overflow: hidden;
}

.background {
  height: 100vh;
  background: url("../img/background.jpg") center center no-repeat;
  background-size: cover;
}

.background-color {
  background: radial-gradient(ellipse at bottom, #1b2735d3 0%, #090a0fd7 100%);
  height: 100vh;
}

#stars {
  position: absolute;
}

.header-line {
  height: 100px;
  width: 100%;
  background: #090913;
  position: relative;
  z-index: 999999999999;
}

.jcc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-menu {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: relative;
  width: 100%;
}

.nav-menu .nav-menu-item {
  line-height: 70px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
  font-size: 13px;
  position: relative;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  color: rgba(110, 129, 190, 0.404);
  text-decoration: none;
}

.nav-menu .nav-menu-item:hover {
  color: white;
}

.nav-menu .nav-menu-item:nth-child(2):before, .nav-menu .nav-menu-item:nth-child(3):before, .nav-menu .nav-menu-item:nth-child(4):before {
  content: "";
  position: absolute;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  top: 75%;
  background: white;
  border-radius: 0;
  width: 100%;
  padding: 0 10px;
  height: 5px;
  margin: 0 auto;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: 999999;
  -webkit-box-shadow: 0 0 20px 3px rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 20px 3px rgba(255, 255, 255, 0.3);
}

.nav-menu .nav-menu-item:nth-child(1):before {
  content: "";
  position: absolute;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  top: 75%;
  background: white;
  border-radius: 50px 0 0 50px;
  width: 100%;
  height: 5px;
  margin: 0 auto;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: 999999;
  -webkit-box-shadow: 0 0 20px 3px rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 20px 3px rgba(255, 255, 255, 0.3);
}

.nav-menu .nav-menu-item:nth-child(5):before {
  content: "";
  position: absolute;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  top: 75%;
  background: white;
  border-radius: 0 50px 50px 0;
  width: 100%;
  height: 5px;
  margin: 0 auto;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: 999999;
  -webkit-box-shadow: 0 0 20px 3px rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 20px 3px rgba(255, 255, 255, 0.3);
}

.nav-menu .nav-menu-item:hover:before {
  content: "";
  position: absolute;
  opacity: 1;
}

.active {
  color: white !important;
  position: relative;
}

.active:before {
  content: "";
  opacity: 1 !important;
}

.nav-menu-line {
  margin: 20 auto;
  position: absolute;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 83px;
  background: #202133;
  border-radius: 50px;
  width: 750px;
  height: 5px;
}

.loading-page {
  position: absolute;
  z-index: 99999999999999999999999;
  background-color: #0f1218;
  width: 100%;
  height: 100%;
}

.loading-logo {
  background: url("../img/fd.png") center center/contain no-repeat;
  background-size: 80px;
  -webkit-animation: logo 1s infinite ease-in-out;
          animation: logo 1s infinite ease-in-out;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

@-webkit-keyframes logo {
  50% {
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
  }
}

@keyframes logo {
  50% {
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
  }
}

.services, .portfolio, .guide, .faq {
  position: relative;
}

h2 {
  color: white;
  text-align: center;
  padding: 70px 0 40px 0;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 30px;
  font-weight: 600;
  text-shadow: 0px 0px 30px rgba(255, 255, 255, 0.3);
  position: relative;
}

.link {
  text-decoration: none;
  color: inherit !important;
  text-decoration: none !important;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 280px;
}

.social {
  padding: 40px 100px;
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
  position: relative;
}

.vk {
  background: url("../img/vk.svg") center center no-repeat;
  background-size: 80px;
}

.vk:hover {
  background: url("../img/vk-hover.svg") center center no-repeat;
  background-size: 80px;
}

.behance {
  background: url("../img/behance.svg") center center no-repeat;
  background-size: 80px;
}

.behance:hover {
  background: url("../img/behance-hover.svg") center center no-repeat;
  background-size: 80px;
}

.github {
  background: url("../img/github.svg") center center no-repeat;
  background-size: 80px;
}

.github:hover {
  background: url("../img/github-hover.svg") center center no-repeat;
  background-size: 80px;
}

.social:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
/*# sourceMappingURL=style.css.map */